:root {
  --highlight: rgb(26, 27, 36);
  --shadow: rgb(22, 22, 28);
  --panel: rgb(31, 33, 40);
  --light: rgb(190, 200, 220);
}

body {
    position: relative;
    width: 900px;
    background-color: var(--highlight);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.equation-container {
    z-index: 100;
    position: relative;
    float: left;
    background-color: var(--panel);
    color: var(--light);
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0 0 5px 5px var(--shadow);
}

.color-container {
    z-index: 100;
    position: relative;
    float: left;
    background-color: var(--panel);
    color: var(--light);
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    margin: 0;
    margin-top: 10px; margin-left: 10px;
    border-radius: 25px;
    box-shadow: 0 0 5px 5px var(--shadow);
}

.input-container {
    z-index: 100;
    position: relative;
    float: left;
    background-color: var(--panel);
    color: var(--light);
    box-sizing: border-box;
    width: 380px;
    height: 100px;
    margin: 0;
    margin-top: 10px; margin-left: 10px;
    border-radius: 25px;
    display: dark;
    overflow: hidden;
    box-shadow: 0 0 5px 5px var(--shadow);
}

.scroll {
    position: absolute;
    top: 0;
    height: 100px;
    width: 370px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}

.scroll-bar {
    position: absolute;
    top: 0; right: 0;
    width: 10px;
    height: 50px;
    background-color: var(--light);
}

.scroll-bar-track {
    position: absolute;
    top: 0; right: 0;
    width: 10px;
    height: 100px;
}

.container-row {
    position: relative;
    margin-left: 15px; margin-right: 15px;
    height: 50px;
    display: flex;
    align-content: center;
    vertical-align: center;
    justify-content: space-between;
}

.container-row>h3 {
    margin: 0;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
}

.container-row>input {
    position: relative;
    margin-top: 10px; margin-bottom: 10px;
    height: 30px;
    color-scheme: dark ;
    color: var(--light);
    background-color: var(--panel);
    border-width: 0px;
    border-bottom: 2px solid var(--light);
    border-radius: 5px;
    box-sizing: border-box;
    border-color: var(--light);
    transition: all 0.4s ease;
}

.container-row>input:hover {
    background-color: var(--shadow);
    box-shadow: 0 5px 10px black;
}

.container-row>select {
    color-scheme: dark ;
    color: var(--light);
    background-color: var(--panel);
    border-width: 0px;
    border-bottom: 2px solid var(--light);
    border-radius: 5px;
    border-color: var(--light);
    margin-top: 5px;
    height: 25px;
    transition: all 0.4s ease;
}

.container-row>select:hover {
    background-color: var(--shadow);
    box-shadow: 0 5px 10px black;
}

.canvas {
    position: relative;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: var(--panel);
    width: 900px;
    height: 500px;
    box-shadow: 0 0 10px 10px var(--shadow);
}